.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffc107;
}

.navbar-dark .navbar-brand:hover {
    color: #ffc107;
}

.btn-outline-success {
    color: #ffffff;
    border-color: #ffc107;
}

.btn-outline-success:hover {
    color: #ffffff;
    border-color: #ffc107;
    background-color: #ffc107;
}

.form-control:hover {
    background-color: #ffc107;
}

.content {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero,
.end {
    min-height: 100vh;
    background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(2, 2, 2, 0.8)), url(../img/DidGF7eiRP0.jpg) fixed top center;
    color: white;
    background-size: cover;
}

.hero h1 {
    font-weight: 600;
}

.hero h2 {
    font-style: oblique;
    font-size: 28px;
}

.card-body,
.about-body {
    padding: 35px;
    text-align: center;
}

.about {
    background-color: rgb(26, 26, 24);
    color: white;
    min-height: 50vh;
}

.cta-btn {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 10px;
    border-radius: 8px;
    border: 2px solid #ffc107;
    color: white;
    margin-top: 18px;
    text-decoration: none;
}

.cta-btn:hover {
    background: #ffc107;
    background-color: #ffc107;
}

.services {
    background-color: rgb(190, 29, 0);
    color: white;
    min-height: 50vh;
}

#headingServices {
    color: rgb(77, 13, 1);
    text-transform: uppercase;
}

#headingAbout {
    font-weight: 600;
    font-size: 28px;
    word-spacing: 2px;
}
.textAbout {
    font-size: 18px;
    word-spacing: 2px;
}

.end-text h3 {
    font-weight: 700;
    font-size: 48px;
}
